/* @import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700"); */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", "PT Serif", "Helvetica Neue", "Roboto", "Oxygen",
    -apple-system, "Ubuntu", BlinkMacSystemFont, "Fira Sans", "Yu Gothic",
    "YuGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.list-container {
  /* background-color: salmon; */
  overflow-y: scroll;
  height: 70vh;

  z-index: -1;
  width: 100%;
}

.item-wrapper {
  margin: 2rem auto;
  width: 300px;
}

.list {
  /* color: white; */
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 45px -30px rgba(0, 0, 0, 0.75);
}

.jp {
  font-size: 1rem;
}

.en {
  font-weight: 800;
}

.desc div {
  opacity: 0;
}

.powered-by-foursquare {
  fill: white;
}

/* Fade in animation */

.fade-in .desc > div {
  animation: fadeIn 0.4s forwards;
}

.desc > div:nth-of-type(2) {
  animation-delay: 0.15s;
}
.desc > div:nth-of-type(3) {
  animation-delay: 0.3s;
}
.desc > div:nth-of-type(4) {
  animation-delay: 0.45s;
}
.desc > div:nth-of-type(5) {
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1,
.cls-2 {
  stroke: #000;
}

.cls-1 {
  stroke-width: 5px;
}

.cls-2 {
  stroke-width: 6px;
}

.cls-3 {
  stroke: #c1272d;
  stroke-width: 3px;
}
