/* @import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700"); */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", "PT Serif", "Helvetica Neue", "Roboto", "Oxygen",
    -apple-system, "Ubuntu", BlinkMacSystemFont, "Fira Sans", "Yu Gothic",
    "YuGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.list-container {
  /* background-color: salmon; */
  overflow-y: scroll;
  height: 70vh;
  z-index: -1;
  width: 100%;
}

.item-wrapper {
  margin: 2rem auto;
  width: 300px;
}

.list {
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 45px -30px rgba(0, 0, 0, 0.75);
}

.jp {
  font-size: 1rem;
}

.en {
  font-weight: 800;
}
.powered-by-foursquare {
  fill: white;
}

// transparent by default
.desc {
  div {
    opacity: 0;
  }
}

/* Fade in animation */
.fade-in {
  .desc {
    div {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation: fadeIn 0.3s ease-out #{$i * 0.15}s forwards;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
  }
}
