@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Ubuntu:400,700");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif", "Helvetica Neue", "Roboto", "Oxygen", -apple-system,
    "Ubuntu", BlinkMacSystemFont, "Fira Sans", "Yu Gothic", "YuGothic",
    sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.jp {
  font-size: 1rem;
  color: gray;
}

.en {
  font-weight: 800;
}

/* Fade in animation */
.fade-in {
  .desc {
    div {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation: fadeIn 0.4s ease-out #{$i * 0.1}s forwards;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}
