* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Roboto", "Oxygen", -apple-system, "Ubuntu",
    BlinkMacSystemFont, "Segoe UI", "Cantarell", "Fira Sans", "Droid Sans",
    "Yu Gothic", "YuGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.list-container {
  /* background-color: salmon; */
  overflow-y: scroll;
  height: 600px;
  margin-top: 8rem;
}

.list {
  border-radius: 5px;
  margin: 2rem 1rem;
  width: 300px;
  color: grey;
}

.normal {
  /* height: 50px; */
  border: 2px grey solid;

  /* background-color: blue; */
}

.expanded {
  border: 2px grey solid;
  /* height: 200px; */
  /* background-color: pink; */
}
