* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Roboto", "Oxygen", -apple-system, "Ubuntu",
    BlinkMacSystemFont, "Segoe UI", "Cantarell", "Fira Sans", "Droid Sans",
    "Yu Gothic", "YuGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.list-container {
  /* background-color: salmon; */
  overflow-y: scroll;
  height: 80vh;
  margin-top: 4rem;
  z-index: -1;
  width: 100vw;
}

.item-wrapper {
  margin: 2rem auto;
  width: 300px;
}

.list {
  color: white;
  padding: 1rem;
  background-color: darkcyan;
  border-radius: 4px;
  cursor: pointer;
}

.jp {
  font-size: 1rem;
}

.en {
  font-weight: 800;
}

.desc div {
  opacity: 0;
}

.foursquare-logo {
  width: 200px;
}

/* Fade in animation */

.fade-in .desc > div {
  animation: fadeIn 0.4s forwards;
}

.desc > div:nth-of-type(2) {
  animation-delay: 0.15s;
}
.desc > div:nth-of-type(3) {
  animation-delay: 0.3s;
}
.desc > div:nth-of-type(4) {
  animation-delay: 0.45s;
}
.desc > div:nth-of-type(5) {
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
